.order-form-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem 2rem;
  width: 60%;
  height: max-content;
  z-index: 11;
  background-color: white;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &>h2 {
      color: var(--color-primary);
    }

    & span {
      cursor: pointer;
      transition: var(--transition-time) ease-in;

      &:hover {
        color: red;
      }
    }
  }

  &>form>button {
    margin-top: 1rem;
    width: 100%;

    & button {
      padding: 1rem 4rem;
      border: 1px solid black;
      border-radius: var(--border-radius);
      width: 100%;
    }
  }
}