<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Order #</th>
        <th scope="col">Due date</th>
        <th scope="col">Customer</th>
        <th scope="col">Address</th>
        <th scope="col">Phone</th>
        <th scope="col">Order total</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders" class="order">
        <th scope="row">{{ order.id }}</th>
        <td>{{ order.dueDate }}</td>
        <td>{{ order.customerName }}</td>
        <td>{{ order.customerAddress }}</td>
        <td>{{ order.phone }}</td>
        <td>{{ order.price | currency }}</td>
        <td>
          <div class="order__actions">
            <span (click)="editOrder(order)">
              <fa-icon [icon]="icons.faEdit" [size]="'1x'"></fa-icon>
            </span>
            <span (click)="openPopup(order.id)">
              <fa-icon [icon]="icons.faTrashCan" [size]="'1x'"></fa-icon>
            </span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Edit order Modal -->
<app-order-form-modal
  *ngIf="isModalOpen"
  [formType]="'edit'"
  [selectedOrder]="selectedOrder"
  (closeModal)="toggleModal()"
></app-order-form-modal>
<!-- Confirm popup -->
<app-popup
  *ngIf="isPopupOpen"
  (continue)="deleteOrder()"
  (cancel)="togglePopup()"
></app-popup>
