body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.9;
  background: linear-gradient(var(--color-primary-light), var(--color-primary)) fixed;
}

a {
  text-decoration: none;
  color: inherit;
}

textarea,
button {
  font-family: inherit;
  resize: none;
}