nav {
  background-color: var(--color-background) !important;
  padding: 2vh 2vw;
}

.navbar-brand {
  color: var(--color-primary) !important;
}

.navbar-nav>.nav-item:nth-child(2) {
  cursor: pointer;
}